
<head>
    <script src="~/js/Toastr.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>

    <script src="~/js/bootbox.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#loader-wrapper").hide();

             $.ajax({
                type: "GET",
                url: '@Url.Action("GetConfigurationDetails", "Email")',
                dataType: "json",
                success: function (response) {
                    $.each(response, function (i, item) {
                        if (item.tokenName == "ActivationMailInitiated") {
                            $("#ActivationMailContent").val(item.tokenValue)
                        }
                        if (item.tokenName == "DeactivationMailInitiated") {
                            $("#DeactivationMailContent").val(item.tokenValue)
                        }
                       
                        if (item.tokenName == "DeactivationWorkflowDaysBeforeRemainder") {
                            $("#RemainderMailToManagerDaysBeforeDeactivationWorkflow").val(item.tokenValue)
                        }
                        if (item.tokenName == "DeactivationWorkflowToEmployeeRemainder") {
                            $("#RemainderMailToEmployeeDaysBeforeDeactivationWorkflow").val(item.tokenValue)
                        }
                        if (item.tokenName == "DeactivationMailLastWorkingDayToSponsor") {
                            $("#DeactivationMailToSponsor").val(item.tokenValue)
                        }
                        
                        if (item.tokenName == "ActivationWorkFlowRemainderToManager") {
                            $("#RemainderMailToManagerActivationTask").val(item.tokenValue)
                        }
                        if (item.tokenName == "ActivationWorkFlowRemainderToEmployee") {
                            $("#RemainderMailToEmployeeActivationTask").val(item.tokenValue)
                        }
                        if (item.tokenName == "EmailToAssignAUdomainWBT") {
                            $("#AssignAUdomainWBT").val(item.tokenValue)
                        }
                         //if (item.tokenName == "DeclinedMail") {
                        //    $("#DeclinedMailContent").val(item.tokenValue)
                        //}
                        //if (item.tokenName == "DeactivationMailLastWorkingDayToManager") {
                        //    $("#RemainderMailToManagerUnapproveworkflow").val(item.tokenValue)
                        //}

                    });
                }
            })


        });

           $(document).on("click", "#MailContentButton", function (e) {
            $("#loader-wrapper").show();
             $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddMailContentToDatabase", "Email")',
                    dataType: "json",
                 data: { "ActivationMailInitiated": $('#ActivationMailContent').val(), "DeactivationMailInitiated": $('#DeactivationMailContent').val(), "DeactivationMailLastWorkingDayToSponsor": $('#DeactivationMailToSponsor').val(), "DeactivationWorkflowDaysBeforeRemainder": $('#RemainderMailToManagerDaysBeforeDeactivationWorkflow').val(), "DeactivationWorkflowToEmployeeRemainder": $('#RemainderMailToEmployeeDaysBeforeDeactivationWorkflow').val(), "ActivationWorkFlowRemainderToManager": $('#RemainderMailToManagerActivationTask').val(), "ActivationWorkFlowRemainderToEmployee": $('#RemainderMailToEmployeeActivationTask').val(), "EmailToAssignAUdomainWBT": $('#AssignAUdomainWBT').val() /* ,"DeclinedMail": $('#DeclinedMailContent').val(),*/ /*"DeactivationMailLastWorkingDayToManager": $('#RemainderMailToManagerUnapproveworkflow').val()*/},
                 success: function (response) {
                     if (response == true) {
                         $("#loader-wrapper").hide();
                         window.location.reload();
                         alert("Mail Configuration updated");
                     } else {
                         alert("data could not be updated. Try again")
                     }
                 }
             });

        });

    </script>
    <style>
        #mailConfig {
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
            margin-top:30px;
        }

        .header {
            width: 100%;
            margin-top: 0px;
            padding: 20px;
            margin-bottom: 5px;
            text-align: center;
            background-color: black;
            color: white;
            font-size: 30px;
        }

    </style>
</head>

<body>
    <div class="header">
        <h2>Mail Content Configuration</h2>
    </div>

    <button type="button" style="margin-left:55px" class="btn btn-outline-secondary" onclick="window.open('@Url.Action("EmployeeDeactivationForm", "Employees")', '_self')">Back</button>

    <div id="mailConfig">

        <div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Activation Mail:</label>
                <textarea class="form-control" id="ActivationMailContent" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Deactivation Mail:</label>
                <textarea class="form-control" id="DeactivationMailContent" rows="4"></textarea>
            </div>

            @*//For future implementation*@
            @*<div class="form-group">
            <label for="exampleFormControlTextarea1">Declined Mail:</label>
            <textarea class="form-control" id="DeclinedMailContent" rows="4"></textarea>
        </div>*@

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Deactivation Mail to Sponsor on employee last working day:</label>
                <textarea class="form-control" id="DeactivationMailToSponsor" rows="4"></textarea>
            </div>

            @*//For future implementation*@
            @*<div class="form-group">
            <label for="exampleFormControlTextarea1">Remainder mail to manager on last working day of employee to approve deactivation workflow :</label>
            <textarea class="form-control" id="RemainderMailToManagerUnapproveworkflow" rows="4"></textarea>
        </div>*@


            <div class="form-group">
                <label for="exampleFormControlTextarea1">Remainder mail to manager to completing the deactivation workflow tasks :</label>
                <textarea class="form-control" id="RemainderMailToManagerDaysBeforeDeactivationWorkflow" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Remainder mail to Employee to completing the deactivation workflow tasks :</label>
                <textarea class="form-control" id="RemainderMailToEmployeeDaysBeforeDeactivationWorkflow" rows="4"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Remainder mail to Manager to completing the activation workflow tasks :</label>
                <textarea class="form-control" id="RemainderMailToManagerActivationTask" rows="4"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Remainder mail to Employee to completing the activation workflow tasks :</label>
                <textarea class="form-control" id="RemainderMailToEmployeeActivationTask" rows="4"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Mail for assigning AU domain WBT :</label>
                <textarea class="form-control" id="AssignAUdomainWBT" rows="4"></textarea>
            </div>

        </div>
        <button type="button" id="MailContentButton" class="btn btn-primary">Submit</button>
    </div>

    <div class="loader-wrapper" id="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
</body>
