.tablee {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
}

#mailConfig {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.header {
    width: 100%;
    margin-top: 0px;
    padding: 20px;
    margin-bottom: 5px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 30px;
}


.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(1,1,1,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid white;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: azure;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

#edit {
    color: green;
}

#delete {
    color: red;
}

#addButton {
    background-color: #00a550;
    width: 400px;
    margin-left: 50px;
    font-weight: bold;
    color: white;
}

    #addButton:hover {
        background-color: green;
    }

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 1;
    top: 3%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.form-container {
    max-width: 500px;
    padding: 10px;
    background-color: white;
    border: 5px solid #ecebe4;
    margin: auto;
}

    .form-container input[type=text], .form-container input[type=password], .form-container input[type=email] {
        width: 100%;
        padding: 3px;
        margin: 2px 0 4px 0;
        border: none;
        background: #f1f1f1;
    }



        .form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=email]:focus {
            background-color: #ddd;
            outline: none;
        }



    .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 5px 8px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }


    .form-container .cancel {
        background-color: red;
    }


    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }

h3 {
    font-weight: bold;
}

#backButton {
    margin-left: 50px;
}

.required:after {
    content: " *";
    color: red;
}

.tooltip-inner {
    max-width: 100% !important;
}
