body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #000003, #787777);
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000003;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.12), 0 4px 5px rgba(0,0,0,0.24);
}

    .box h1 {
        color: #e0e1dd;
        text-transform: uppercase;
        font-weight: 500;
    }

    .box input[type = "email"], .box input[type = "password"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 3px solid #cccccc;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: whitesmoke;
        border-radius: 24px;
        transition: 0.25s;
    }

        .box input[type = "email"]:focus, .box input[type = "password"]:focus {
            width: 280px;
            border-color: #45c496;
        }

    .box input[type = "submit"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 3px solid #38b000;
        padding: 14px 40px;
        outline: none;
        color: #e0e1dd;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }

        .box input[type = "submit"]:hover {
            background: #38b000;
            color: #e0e1dd;
          
        }